@* <style>
    .modal-header {
        display:initial;
    }
</style>
<div class="modal fade" id="myModalId" tabindex="-1" role="dialog" aria-labelledby="myModallabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalTitleId">MODA Title</h4>
            </div>
            <div class="modal-body" id="myModalBodyId">
             
            </div>
        </div>
    </div>
</div>

 *@
<style>
    .modal-header {
        display: initial;
    }
</style>

<div class="modal fade" id="myModalId" tabindex="-1" aria-labelledby="myModallabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalTitleId">MODAL Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="myModalBodyId">
                <!-- Your modal body content goes here -->
            </div>
        </div>
    </div>
</div>
