@model ExamensArbete.Models.Category


<form asp-action="Edit">
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" asp-for="Id" />
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" required />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label asp-for="Language"></label>
            <select asp-for="LanguageId" asp-items="ViewBag.LanguageId" class="form-control"></select>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Save" class="btn btn-success form-control" />
        </div>
    </div>
</form>
```