
@{
    ViewData["Title"] = "SimplePage";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div style="border:2px solid red; text-align:center; padding : 10px;">
    <h1>This is my first page</h1>
</div>

@section Header{
    this is my header
}
@section Footer{
    this is my footer.
    
}

